# Split the training into train, test and hold out test dataset

Hold out test dataset is generated for my own hold out dataset to test my model performance. So the training data provided will split into 3 data in csv format and the features to be included as below:

* Train and Test dataset are using day 1 to day 60 data.
* Hold out dataset is using only day 61 data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
traffic = pd.read_csv('training.csv')

In [3]:
traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4206321 entries, 0 to 4206320
Data columns (total 4 columns):
geohash6     object
day          int64
timestamp    object
demand       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 128.4+ MB

## Export my own hold out test dataset for day 61

In [4]:
traffic_day61 = traffic[traffic['day']==61]
traffic_day61.head()

    geohash6  day timestamp    demand
77    qp03xu   61      5:30  0.252223
335   qp09hy   61      1:45  0.017997
368   qp096z   61      14:0  0.917029
382   qp09vv   61       4:0  0.011494
636   qp09cw   61       1:0  0.005531

In [53]:
export_train_csv = traffic_day61.to_csv(r'C:\Users\TENG\Desktop\projects\grab\holdout.csv', index = None, header=True)

## Create the train and test dataset

In [5]:
traffic = traffic[traffic['day']!=61]

In [7]:
export_train_csv = traffic.to_csv(r'C:\Users\tengchm\Desktop\DS project\grab\complete\train60.csv', index = None, header=True)

In [55]:
X = traffic.iloc[:, :3].values
y = traffic.iloc[:, -1:].values

In [56]:
X.shape

(4132706, 3)

In [57]:
y.shape

(4132706, 1)

In [58]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 101)

In [59]:
train_set = np.concatenate((X_train,y_train),axis=1)

In [60]:
train_set.shape

(3099529, 4)

In [61]:
train = pd.DataFrame(train_set)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099529 entries, 0 to 3099528
Data columns (total 4 columns):
0    object
1    object
2    object
3    object
dtypes: object(4)
memory usage: 94.6+ MB

In [62]:
train.columns = ['geohash6', 'day', 'timestamp', 'demand']
train.head()

  geohash6 day timestamp     demand
0   qp09bw  52     12:15  0.0223766
1   qp099y   8     10:45  0.0972637
2   qp03yx   2      0:15  0.0340235
3   qp091q   7      1:15  0.0188847
4   qp09gh  23       1:0  0.0511041

### Export the train data set

In [63]:
export_train_csv = train.to_csv(r'C:\Users\TENG\Desktop\projects\grab\train.csv', index = None, header=True)

**Check the dataset**

In [64]:
train_set = pd.read_csv('train.csv')

In [65]:
train_set = train_set.sort_values(by=['day','timestamp']).reset_index(drop=True)
train_set.tail()

        geohash6  day timestamp    demand
3099524   qp03t7   60      9:45  0.011433
3099525   qp09sc   60      9:45  0.086302
3099526   qp09sh   60      9:45  0.222353
3099527   qp09s2   60      9:45  0.003120
3099528   qp0995   60      9:45  0.012869

In [66]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3099529 entries, 0 to 3099528
Data columns (total 4 columns):
geohash6     object
day          int64
timestamp    object
demand       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 94.6+ MB

### Export Test data set

In [67]:
test_set = np.concatenate((X_test,y_test),axis=1)

In [68]:
test_set.shape

(1033177, 4)

In [69]:
test = pd.DataFrame(test_set)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033177 entries, 0 to 1033176
Data columns (total 4 columns):
0    1033177 non-null object
1    1033177 non-null object
2    1033177 non-null object
3    1033177 non-null object
dtypes: object(4)
memory usage: 31.5+ MB

In [70]:
test.columns = ['geohash6', 'day', 'timestamp', 'demand']
test.head()

  geohash6 day timestamp      demand
0   qp09cu  47      9:30   0.0218187
1   qp03mr  19      1:45  0.00178543
2   qp09ds  30      7:45  0.00747842
3   qp093v  37      22:0   0.0136314
4   qp09b0  50       3:0    0.158475

In [71]:
export_csv = test.to_csv(r'C:\Users\TENG\Desktop\projects\grab\test.csv', index = None, header=True)

**Check the dataset**

In [72]:
test_set = pd.read_csv('test.csv')

In [73]:
test_set = test_set.sort_values(by=['day','timestamp']).reset_index(drop=True)
test_set.tail()

        geohash6  day timestamp    demand
1033172   qp0981   60      9:45  0.072970
1033173   qp094j   60      9:45  0.008918
1033174   qp0971   60      9:45  0.117143
1033175   qp09k2   60      9:45  0.268373
1033176   qp09en   60      9:45  0.042415

In [74]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033177 entries, 0 to 1033176
Data columns (total 4 columns):
geohash6     1033177 non-null object
day          1033177 non-null int64
timestamp    1033177 non-null object
demand       1033177 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 31.5+ MB